body {
    background-color: rgb(65, 65, 65);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 100px;
    height: 144px; 
    margin: 0 5px; 
}

.opp-container {
    display: flex;
    justify-content: space-between;
}

.opp-box {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid white; 
    background-color: #333;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}

.opp-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.game-container {
    text-align: center;
    margin-bottom: 30px; 
}

#gamepot-display {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.dealer-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: #333;
    color: white;
    display: flex;
}

.action-box,
.hand-box,
.fund-box {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

.hand-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.hand-images {
    display: flex;
    align-items: center;
}

.hand-images img {
    width: 100px;
    height: 144px; 
    margin: 0 5px; 
    padding-top: 30px;
    padding-bottom: 30px; 
}

.fund-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.fund-box div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.fund-box label {
    color: white;
    width: 100px; 
    text-align: right; 
    margin-right: 10px; 
}

.fund-box input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    width: 100px;
}

.fund-box button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px; 
}

.fund-box button:hover {
    background-color: #45a049;
}

.fund-box button:disabled {
    background-color: #888; 
    cursor: not-allowed; 
}

.action-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.action-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

.action-box .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.action-box button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.action-box button:last-child {
    margin-right: 0;
}

.action-box button:disabled {
    background-color: #888; 
    cursor: not-allowed; 
}

.winner-display {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.text-style {
    color: white;
    font-size: 16px;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin-right: 20px;
}

.game-info div {
    margin-top: 5px;
}
