body {
    background-color: rgb(65, 65, 65);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 100px;
    height: auto;
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: #333;
    color: white;
    display: flex;
}
.player-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.player-text {
    color: white;
    margin-bottom: 10px;
}
.player-name {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
}
.action-box,
.hand-box,
.fund-box {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid white; 
}
.hand-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.hand-images {
    display: flex;
    align-items: center;
}

.hand-images img {
    width: 100px; 
    height: auto;
    margin: 0 5px; 
    padding-top: 30px; 
}
.fund-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
}

.fund-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.fund-box div {
    margin-bottom: 10px;
}

.fund-box label {
    color: white;
}

.fund-box input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}

.fund-box button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.fund-box button:hover {
    background-color: #45a049;
}
.action-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
}

.action-box .title {
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
}

.action-box button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.action-box button:last-child {
    margin-right: 0;
}

.action-box button:hover {
    background-color: #45a049;
}